:root {
  --color-primary:#EDF2F7;
  --color-secondary:#CBD5E0;
  --color-heading:#2D3748;
  --color-body:#1A202C;
}

@tailwind base;

h1, h2, h3, h4, h5, h6 {
  @apply text-body font-semibold font-serif my-4;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

pre {
  @apply my-6;
}

p {
  @apply my-6;
}

a {
  @apply text-blue-700 underline;
}

blockquote {
  @apply font-serif text-lg bg-gray-100 text-gray-700 italic border-l-4 border-gray-600 p-2 mx-6 my-2;
}

figure {
  @apply flex flex-col items-center my-4;
}

figcaption {
  @apply italic my-2 text-sm;
}

ul, ol {
  @apply ml-10 my-6;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

table {
  @apply table-auto;
}

td {
  @apply border px-4 py-2;
}

tr.even {
  @apply bg-gray-100;
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('/fonts/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/inter-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/inter-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/inter-v2-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('/fonts/inter-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/inter-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/inter-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/inter-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/inter-v2-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('/fonts/roboto-slab-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-600 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url('/fonts/roboto-slab-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-600.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('/fonts/roboto-slab-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot');
  src:  url('/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-linkedin-in:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}

.menu-link {
  @apply font-semibold text-xl text-heading m-2 p-2 no-underline;
}
.menu-link:hover {
  @apply text-blue-500;
}

.footer-icon {
  @apply text-4xl text-gray-700 px-1 mx-3 no-underline;
}
.footer-icon:hover {
  @apply text-blue-500;
}

@tailwind components;
@tailwind utilities;
