@tailwind base;

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.woff') format('woff'),
       url('/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e901";
}
.icon-keybase:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}

body {
  @apply flex flex-col min-h-screen p-4 sm:p-4 max-w-2xl mx-auto text-gray-900 bg-amber-50 bg-opacity-100 dark:bg-zinc-950 dark:text-gray-200 duration-100
}

.entry-list {
  @apply list-none m-0 space-y-2 max-w-xl;
}

.entry-list .metadata {
  @apply flex justify-between;
}

.entry-list .date {
  @apply text-gray-700 dark:text-gray-300 font-mono text-sm;
}

.entry-list .title {
  @apply text-inherit text-lg decoration-dotted underline hover:underline
}

footer a {
  @apply text-yellow-600 dark:text-yellow-500;
}

.footer-icon {
  @apply text-3xl text-gray-600 dark:text-gray-200 px-1 mx-3;
}
.footer-icon:hover {
  @apply text-yellow-600 dark:text-yellow-500;
}

.badges ul {
  @apply flex flex-wrap gap-2;
}

.badges li {
  @apply py-1 px-2 text-sm font-medium rounded border border-gray-500 dark:border-gray-400 hover:bg-amber-100 dark:hover:bg-gray-800 hover:cursor-pointer;
}

.status {
  @apply text-xs bg-gray-100 text-gray-800 font-medium px-2.5 py-0.5 rounded uppercase;
}

.status-todo {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300;
}

.status-in-progress {
  @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300;
}

.status-done {
  @apply bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300;
}

.resume { 
  @apply max-w-2xl mx-auto my-10 grid grid-cols-6 gap-2 sm:gap-4;
}

.resume > h2 { 
  @apply font-medium text-sm mt-4 sm:mt-0;
}

.resume > div {
  @apply col-span-6 sm:col-span-5;
}

.resume .currently a {
  @apply font-medium;
}

.resume .currently a,
.resume .interests a {
  @apply text-yellow-600 dark:text-yellow-500 hover:underline;
}

.resume h2 a {
  @apply text-yellow-600 dark:text-yellow-500 hover:underline font-medium;
}

article h1 {
  @apply text-3xl font-bold tracking-tight mt-6 mb-4;
}

article h2 {
  @apply text-2xl font-bold mt-6 mb-4;
}

article h3 {
  @apply text-xl font-bold mb-4;
}

article h4 {
  @apply text-base font-bold mb-4 leading-none;
}

article p {
  @apply mb-6;
}

article a {
  @apply font-medium text-yellow-600 dark:text-yellow-500 underline hover:no-underline;
}

article hr {
  @apply my-8 h-px border-0 bg-zinc-300 dark:bg-zinc-700;
}

article ul,
article ol {
  @apply mb-5 space-y-1 list-inside;
}

article ul ul,
article ol ol {
  @apply pl-5;
}

article ul {
  @apply list-disc;
}

article ol {
  @apply list-decimal;
}

article table {
  @apply text-sm text-left text-gray-500 dark:text-gray-400;
}

article tr.header {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-zinc-700 dark:text-gray-400;
}

article tr {
  @apply bg-white border-b dark:bg-zinc-800 dark:border-gray-700;
}

article th {
  @apply py-3 px-6
}

article td {
  @apply py-4 px-6
}

article img {
  @apply mx-auto rounded-lg;
}

article figcaption {
  @apply mt-2 mb-5 text-sm text-center text-gray-500 dark:text-gray-400;
}

@tailwind components;
@tailwind utilities;
