<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Leo Orpilla III" />
    $if(description)$
    <meta name="description" content="$description$" />
    $endif$ $if(description)$
    <meta property="og:description" content="$description$" />
    $endif$
    <meta property="og:type" content="article" />
    <meta name="og:title" content="$title$" />
    <meta property="og:url" content="$url$" />
    <title>$title$</title>
    $if(keywords)$
    <meta name="keywords" content="$keywords$" />
    $endif$
    <link rel="canonical" href="$url$" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Leo Orpilla III"
      href="/atom.xml"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/site.webmanifest" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJRJTNXBZP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TJRJTNXBZP');
    </script>
  </head>
  <body>
    $partial("templates/header.html")$

    <main>$body$</main>
    $partial("templates/footer.html")$
  </body>
</html>
