<ul class="entry-list grid grid-cols-2 space-x-0 space-y-0 gap-4">
    $for(ideas)$
        <li class="group">
                <a href="$url$">
                $if(meta-img)$
                <img src="$meta-img$" class="h-[150px] max-w-64 w-full aspect-video object-cover rounded-lg my-3 grayscale brightness-75 group-hover:brightness-100 group-hover:grayscale-0">
                $endif$
                </a>
            <div class="metadata">
                <span class="date">$date$</span>
            </div>
            <a class="text-inherit text-lg decoration-dotted underline underline-offset-2 hover:decoration-solid group-hover:decoration-solid" href="$url$">$title$</a>
        </li>
    $endfor$
</ul>