<article>
    <section class="header">
        <h1 class="text-4xl font-semibold">$title$</h1>
        <span class="text-gray-700">
        Posted on $date$
        </span>
    </section>
    <hr class="border-black border-opacity-25 my-4"/>
    <section class="">
        $body$
    </section>
</article>

<hr class="border-black border-opacity-25 my-5"/>

<div class="p-2" id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "https://ldgrp.me/$url$";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "$url$"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ldgrp.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
