<article class="$entry-type$">
    <section class="header">
        <div class="text-sm font-mono text-gray-600 dark:text-gray-300">
            $date$ |
            <span class="capitalize">$entry-type$<span>
        </div>
        <h1 class="my-1">$title$</h1>
        $if(status)$
        <span class="status status-$status$">$status$</span>
        $endif$
    </div>
    </section>
    <hr>
    <section>
        $body$
        $if(last-edited)$
        Last modified $last-edited$
        $endif$
    </section>
</article>